<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>NLP App</title>
</head>

<body>

<header>
    <div>
        Natural Language Processing
    </div>
</header>

<main>
    <section class="content">
        <form onsubmit="return Client.handleSubmit(event)">
            <label for="text-to-analyze">Enter text:</label>
            <input id="text-to-analyze" type="text" name="input" value="" placeholder="Text or URL">
            <input id="submit-button" type="submit" name="text" value="Analyze" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
        </form>
    </section>

    <section class="form-result">
        <strong>Form Results:</strong>
        <div id="results"></div>
    </section>
</main>

<footer>
    This is a footer
</footer>
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>
